Abalone.xcodeproj/xcuserdata/*
*.DS_store
Abalone.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcuserstate
Abalone.xcodeproj/project.xcworkspace/xcuserdata/caohao.xcuserdatad/UserInterfaceState.xcuserstate
Abalone/abalone.storyboard.orig
Abalone.xcodeproj/project.xcworkspace/xcuserdata/chenhaitao.xcuserdatad/UserInterfaceState.xcuserstate
